.about-section-1 {
    height: 720px;
    margin-top: 50px;
    background-size: cover;
    @media (--desktop) {
        height: 620px;
    }
    @media (--pad) {
        height: 520px;
    }
    @media (--mobile) {
        height: 320px;
    }
    .about-section-1-info {
        margin-top: 230px;
        @media (--mobile) {
            margin-top: 0;
        }
        @media (--pad) {
            margin-top: 100px;
        }
        h2 {
            color: white;
            font-size: 56px;
            font-weight: bold;
        }
        h3 {
            color: white;
        }
        .btn-primary {
            color: black;
            border-radius: 50px;
            font-size: 18px;
            padding: 12px 33px;
            font-weight: bold;
            margin-top: 15px;
        }
    }
}

.about-section-2 {
    background-color: white;
    text-align: center;
    padding: 50px 0;
    @media (--mobile) {
        padding: 30px 0;
    }
    h2 {
        font-size: 46px;
        color: black;
        font-weight: bold;
        margin-bottom: 0;
    }
    p {
        width: 60%;
        margin: 35px auto;
        font-size: 16px;
        text-align: left;
        font-weight: 400;
        @media (--mobile) {
            width: 90%;
        }
    }
}

.about-section-3 {
    .about-visual-row-1 {
        display: flex;
        .about-visual {
            background-size: cover;
            height: 400px;
            margin: 5px;
            @media (--desktop) {
                height: 350px;
                width: 100%;
            }
            @media (--pad) {
                height: 300px;
            }
            @media (--mobile) {
                height: 100px;
            }
        }
        .visual-col-1 {
            flex: 2;
        }
        .visual-col-2 {
            flex: 1;
            min-width: 300px;
            @media (--mobile) {
                min-width: auto;
            }
        }
        .visual-col-3 {
            flex: initial;
            min-width: 100px;
            width: 300px;
            background-position: center;
            @media (--mobile) {
                min-width: 80px;
                width: 80px;
            }
        }
    }
    .about-visual-row-2 {
        display: flex;
        .about-visual {
            background-size: cover;
            height: 400px;
            margin: 5px;
            @media (--desktop) {
                height: 350px;
            }
            @media (--pad) {
                height: 300px;
            }
            @media (--mobile) {
                height: 100px;
            }
        }
        .visual-col-1 {
            flex: 2;
        }
        .visual-col-2 {
            flex: 1;
            min-width: 200px;
            @media (--mobile) {
                min-width: 70px;
            }
        }
        .visual-col-3 {
            flex: initial;
            min-width: 100px;
            width: 200px;
            background-position: center;
            @media (--mobile) {
                width: 50px;
                min-width: 50px;
            }
        }
    }
    .about-visual-row-3 {
        display: flex;
        .about-visual {
            background-size: cover;
            height: 400px;
            margin: 5px;
            @media (--desktop) {
                height: 350px;
            }
            @media (--pad) {
                height: 300px;
            }
            @media (--mobile) {
                height: 100px;
            }
        }
        .visual-col-1 {
            flex: 1;
        }
        .visual-col-2 {
            flex: initial;
            min-width: 100px;
            width: 400px;
            background-position: center;
            @media (--mobile) {
                width: 100px;
            }
        }
        .visual-col-3 {
            flex: 2;
            min-width: 300px;
            background-position: center;
            @media (--mobile) {
                min-width: auto;
            }
        }
    }
}
