.accessories-section {
    height: auto;
    .section-block {
        background-size: cover;
    }
    .section-title {
        display: inline-block;
        font-size: 85px;
        width: 45%;
        @media (--mobile) {
            font-size: 60px;
        }
    }
    .btn {
        border: none;
        padding: 0;
        font-size: 30px;
        text-decoration: underline;
        i {
            margin-left: 5px;
        }
    }
}

.accessories-section-1 {
    text-align: center;
    height: 480px;
    .section-title {
        margin: 13% auto 0;
        @media (--mobile) {
            margin-top: 38%;
        }
    }
}

.accessories-section-2 {
    padding: 70px 0 30px;
    .section-block {
        @media (--pad) {
            width: 100%;
            margin: auto;
        }
    }
    .section-block-t {
        height: 620px;
        @media (--mobile) {
            height: 450px;
        }
        .section-content {
            margin-top: 16%;
            padding-left: 582px;
            @media (--desktop) {
                padding-left: 300px;
            }
            @media (--pad) {
                padding-left: 20px;
            }
            @media (--mobile) {
                padding-left: 10px;
            }
            .section-title {
                display: inline-block;
                width: 580px;
                @media (--mobile) {
                    width: auto;
                }
            }
        }
    }
    .section-block-t {
        margin-bottom: 30px;
    }
    .section-block-l {
        height: 760px;
        @media (--mobile) {
            height: 430px;
            margin-right: -15px;
            .section-content {
                margin-top: 15%;
            }
        }
        @media (--pad) {
            .section-content {
                margin-top: 15%;
                padding-left: 8%;
            }
        }
    }
    .section-block-r {
        height: 760px;
        margin-left: 0;
        color: #f9cd12;
        @media (--mobile) {
            margin-left: -15px;
        }
        .section-content {
            margin-top: 0%;
            text-align: center;
            .section-title {
                text-align: left;
            }
        }
        .section-block-r-t {
            height: 40%;
            .section-title {
                width: 75%;
                @media (--pad) {
                    margin-top: 22%;
                    width: 100%;
                    text-align: center;
                }
                @media (--mobile) {
                    width: 100%;
                    text-align: center;
                    margin-top: 27%;
                }
            }
        }
        .section-block-r-b {
            height: 60%;
        }
    }
}

// Parts
.section-block-parts {
    .section-title {
        width: auto;
    }
    .short-row {
        height: 350px;
    }
    .yellow {
        color: #ffc82c;
        letter-spacing: -1px;
        margin-top: 95px;
        @media (--mobile) {
            margin: 35px 0;
        }
    }
}

.section-block-parts-t {
    margin-bottom: 30px;
    height: 620px;
    .section-content {
        margin-left: 8%;
        margin-top: 14%;
        .btn-info {
            margin-left: 9px;
        }
    }
}

.modify-right-padding {
    padding-right: 0;
    @media (--mobile) {
        padding-right: 15px;
    }
}
.modify-left-padding {
    padding-left: 0;
    @media (--mobile) {
        padding-left: 15px;
    }
}
.modify-right-bg {
    background-position: 14px 0;
    background-repeat: no-repeat;

    @media (--mobile) {
        background-position: 0;
    }
}
