.main-metabar {
    position: fixed;
    background-color: #ffc82c;
    height: 50px;
    right: 0;
    top: 0;
    left: 0;
    z-index: 999;
    .brand-logo {
        position: relative;
        .logo-icon {
            position: absolute;
            background-color: black;
            padding: 14px 18px;
            z-index: 10;
            top: 0;
            img {
                width: 45px;
            }
            @media (--mobile) {
                padding: 10px 15px;

                img {
                    width: 33px;
                }
            }
        }
        .logo-title {
            position: relative;
            margin-left: 100px;
            top: 12px;
            img {
                width: 145px;
            }
            @media (--desktop) {
                display: none;
            }
            @media (--pad) {
                display: none;
            }
            @media (--mobile) {
                display: inline-block;
                margin-left: 70px;
            }
        }
    }
    .metabar-inner {
        max-width: 90%;
        margin: 0 auto;
        .is-show-bg {
            position: static;
            text-align: center;
        }
    }
    .main-metabar-nav-bar {
        position: absolute;
        right: 0;
        top: 10px;
    }
    .main-menu-wrapper {
        @media (--mobile) {
            display: none;
            background-color: #ffc82c;
            z-index: 99999999999;
            position: absolute;
            right: 0;
            top: 0;
            height: 100vh;
            width: 200px;
            box-shadow: 5px 0px 20px 0px black;
            &.active {
                display: block;
            }
        }
        .main-menu-wrapper-close-block {
            text-align: right;
            margin: 10px 0 20px;
        }
    }
    .main-menu {
        display: inline-block;
        @media (--mobile) {
            display: block;
        }
        li {
            float: left;
            padding: 13px 0 10px;
            margin: 0 16px;
            @media (--desktop) {
                margin: 0 9px;
            }
            @media (--pad) {
                margin: 0 4px;
            }
            @media (--mobile) {
                float: none;
                text-align: left;
            }
            a {
                color: black;
                font-size: 21px;
                letter-spacing: 1px;
            }
            .sub-menu-bg {
                display: none;
                background-color: #222;
                padding: 12px 0px;
                position: absolute;
                right: 0;
                left: 0;
                top: 50px;
                .sub-menu {
                    a {
                        color: white;
                        display: inline-block;
                        margin: 0px 25px;
                        font-size: 14px;
                        @media (--l-desktop) {
                            margin: 0px 40px;
                        }
                        span {
                            display: block;
                        }
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
            &.active {
                .sub-menu-bg {
                    display: block;
                }
                border-bottom: 3px solid black;
            }
        }
    }
    .metabar-fn {
        font-size: 14px;
        font-weight: bold;
        margin-top: 2px;
        color: black;
        @media (--pad) {
            margin-top: 10px;
        }
        @media (--mobile) {
            border-top: 1px solid black;
        }
        .metabar-fn-li {
            margin-right: 15px;
            font-size: 18px;
            a {
                font-size: 18px;
            }
            @media (--mobile) {
                display: block;
                margin: 16px;
            }
            i {
                color: black;
                font-size: 32px;
                position: relative;
                top: 5px;
                cursor: pointer;
                margin-right: 5px;
                @media (--pad) {
                    font-size: 22px;
                }
            }
            .fa-phone {
                position: relative;
                top: 8px;
                @media (--pad) {
                    top: 4px;
                }
            }
            .fa-shopping-cart {
                right: 5px;
                @media (--pad) {
                    top: 3px;
                }
            }
            .fa-search {
                font-size: 26px;
                position: relative;
                top: 2px;
                @media (--pad) {
                    font-size: 20px;
                    top: 3px;
                }
            }
            @media (--pad) {
                b {
                    display: none;
                }
            }
        }
        a {
            color: black;
        }
    }
}
